<div class="details" >
  <button (click)="goToTaskList()" mat-fab>
    <mat-icon>arrow_back</mat-icon>
</button>
    <div *ngIf="currentTask.id" class="detailsContent">
      <h2>Task Details</h2>
      <div>
        <label><strong>Title:</strong></label> {{ currentTask.title }}
      </div>
      <div>
        <label><strong>Description:</strong></label>
        {{ currentTask.description }}
      </div>
      <div>
        <label><strong>Status:</strong></label>
        {{ currentTask.isCompleted ? "Complited" : "Not Complited" }}
      </div>
    </div>
    
  </div>
  
  
  
  